# Created by venv; see https://docs.python.org/3/library/venv.html
*
!package.json
!package-lock.json
!playwright.config.js
!tests/
!tests/**
!index.html
!input.css
!tailwind.min.css
!README.md
!favicon.svg
!favicon.png
!LICENSE