# Created by venv; see https://docs.python.org/3/library/venv.html
*
!package.json
!package-lock.json
!playwright.config.js
!tests/
!tests/**
!index.html
!input.css
!.github/
!.github/workflows/
!.github/workflows/**
!README.md
!favicon.svg
!favicon.png
!LICENSE
style.css
tailwind.min.css
